# Auto detect text files and perform LF normalization
* text=auto
Assets/Firebase/Editor filter=lfs diff=lfs merge=lfs -text
Assets/Firebase/Editor.meta filter=lfs diff=lfs merge=lfs -text
Assets/Firebase/Plugins filter=lfs diff=lfs merge=lfs -text
Assets/Firebase/Plugins.meta filter=lfs diff=lfs merge=lfs -text
Assets/Firebase/m2repository filter=lfs diff=lfs merge=lfs -text
Assets/Firebase/m2repository.meta filter=lfs diff=lfs merge=lfs -text
*.gitignore filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
*.meta filter=lfs diff=lfs merge=lfs -text
*.asset filter=lfs diff=lfs merge=lfs -text
*.anim filter=lfs diff=lfs merge=lfs -text
*.controller filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.dll filter=lfs diff=lfs merge=lfs -text
*.md filter=lfs diff=lfs merge=lfs -text
/Assets/ExternalDependencyManager/Editor/LICENSE filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
*.xml filter=lfs diff=lfs merge=lfs -text
*.exe filter=lfs diff=lfs merge=lfs -text
*.py filter=lfs diff=lfs merge=lfs -text
*.bundle filter=lfs diff=lfs merge=lfs -text
*.so filter=lfs diff=lfs merge=lfs -text
*.pom filter=lfs diff=lfs merge=lfs -text
*.srcaar filter=lfs diff=lfs merge=lfs -text
*.properties filter=lfs diff=lfs merge=lfs -text
*.jar filter=lfs diff=lfs merge=lfs -text
*.aar filter=lfs diff=lfs merge=lfs -text
*.a filter=lfs diff=lfs merge=lfs -text
*.renderTexture filter=lfs diff=lfs merge=lfs -text
*.unity filter=lfs diff=lfs merge=lfs -text
*.cs filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
*.ttf filter=lfs diff=lfs merge=lfs -text
*.TTF filter=lfs diff=lfs merge=lfs -text
*.mat filter=lfs diff=lfs merge=lfs -text
*.prefab filter=lfs diff=lfs merge=lfs -text
*.psd filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.shader filter=lfs diff=lfs merge=lfs -text
*.cginc filter=lfs diff=lfs merge=lfs -text
*.wlt filter=lfs diff=lfs merge=lfs -text
*.api filter=lfs diff=lfs merge=lfs -text
*.asmdef filter=lfs diff=lfs merge=lfs -text
